:root {
    --height: 2rem;
    --font: 1rem;
    --radius: .25em;
    --radius-accent: .5em;

    --padding: 1em;

    --border-clr: 0, 0%, 100%;

    --nav-link: 0, 0%, 100%;
    --main-dark: 206, 100%, 6%;

    --text: 0, 0%, 100%;
    --text-contrast: 0, 20%, 20%;
    --important: 335, 70%, 46%;
    --shadow: 0, 100%, 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    color: hsl(var(--text));
    background-color: hsl(var(--main-dark));
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font);
    font-weight: 400;
    overflow-x: hidden;

    height: 300vh;
}

/* Utility class */
.active {
    color: hsl(var(--nav-link)) !important;
    position: relative;
    transition: 300ms linear;
    transform-origin: left;
}

.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 70%;
    height: 2px;

    background-color: hsl(var(--important));
}

.hidden {
    scale: 0;
    transform-origin: left;
    transition: all 1s;
}

.fade-in {
    opacity: 0;
    transform: translateX(100%);
    filter: blur(5px);
    transform-origin: right;
    transition: all 2s;
}

.show {
    scale: 1;
    opacity: 1;
    transform: translateX(0%);
    filter: blur(0);
}

.shadow-container {
    box-shadow: 1px 1px 2px hsl(var(--main-dark), 20%);
}

.navbar-dark {
    background-color: hsl(var(--main-dark)) !important;
}

.divider {
    width: 100%;
    height: 150px;
    position: relative;
    background-color: white;
}

#map {
    width: 100%;
    height: 400px;
}

/* Navbar */
.navbar {
    position: fixed;
    z-index: 9999;
    width: 100%;

    isolation: isolate;
    inset: 0 0 auto;

    transition: none;
}

.navbar-wrapper {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 1000px;
    height: var(--height);

    margin: 0 auto;
    padding: 1.5em calc(2vw + .5em);
}

.navbar-wrapper>div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: calc(var(--font) - 0.1rem);
    font-weight: 700;
    text-transform: uppercase;
}

.navbar img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

#checkbox {
    display: none;
}

.navbar-toggler {
    display: none;

    background-color: transparent;
}

.toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25em;

    color: #B0B0B0;
    border: 1px solid #B0B0B0;
    border-radius: var(--radius);

    z-index: 2;
}

.toggler:is(:hover, :focus-within) {
    opacity: .5;
}

.toggler:is(:active) {
    scale: 0.95;
    box-shadow: 0 0 0 2px hsl(var(--text));
}

.toggler img {
    width: 32px;
    height: 32px;
}

.navbar-items {
    margin-inline-start: auto;
    display: flex;
    gap: 1em;
}

.navbar-items a {
    color: hsl(var(--nav-link), 50%);
    font-size: calc(var(--font) - 0.1rem);
    text-decoration: none;
    text-transform: uppercase;

    position: relative;
}

.navbar-items a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 0%;
    height: 2px;

    background-color: hsl(var(--important));

    transition: 200ms linear;
}

.navbar-items a:hover {
    color: hsl(var(--nav-link));
}

.navbar-items a:is(:hover, :focus-within)::before {
    width: 70%;
}

.separator {
    color: hsl(var(--text));
}

/* Header */
#Home {
    background-image:
        linear-gradient(180deg,
            hsl(0, 0%, 0%, 100%) 0%,
            transparent,
            transparent),
        url('https://images.unsplash.com/flagged/photo-1561668038-2742fcef75d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
    isolation: isolate;
    z-index: 0;

    min-height: 120vh;
}

#Home::after {
    content: '';
    position: absolute;
    width: 100%;
    inset: 0;
    background-color: hsl(var(--main-dark));
    z-index: -1;
    opacity: .2;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-height: 100vh;
    padding-inline-start: 5em;
}

.hero-wrapper h1,
.hero-wrapper h2 {
    margin: 0;
}

.hero-wrapper h1 {
    font-size: clamp(2rem, 1.6154rem + 1.2308vw, 3rem);
}

.hero-wrapper h2 {
    font-size: clamp(1rem, 0.6154rem + 1.2308vw, 2rem);
}

.hero-wrapper .social-media {
    display: flex;
    gap: 1em;
    font-size: calc(var(--font) * 3);
}

.hero-wrapper .social-media a {
    color: hsl(var(--text));
    text-decoration: none;
}

.hero-wrapper .social-media a:hover {
    scale: .95;
    opacity: .5;
}

.custom-shape-divider-bottom-1667766393 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1667766393 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 103px;
}

.custom-shape-divider-bottom-1667766393 .shape-fill {
    fill: hsl(var(--main-dark));
}

@media only screen and (max-width: 760px) {
    .navbar {
        background-color: hsl(var(--main-dark));
    }

    .navbar-wrapper {
        justify-content: space-between;
        position: relative;

        padding: 2em 1.5em;
    }

    .navbar-toggler {
        display: inline;
    }

    .navbar-items {
        visibility: hidden;
        position: absolute;
        flex-direction: column;
        gap: 1em;

        opacity: 0;
        transform: translateY(-150%);
    }

    #checkbox:checked~.navbar {
        background-color: red;
    }

    #checkbox:checked {
        margin-bottom: 5rem;
    }

    #checkbox:checked~.navbar-items {
        visibility: visible;
        top: calc(var(--height));
        left: 0;
        z-index: 1;

        width: 100%;
        padding: 1em;
        margin-top: calc(var(--font) + 2vh);
        padding-top: calc(var(--font) + 2vh);

        background-color: hsl(var(--main-dark));
        border-bottom: 1px solid hsl(var(--border-clr), 80%);

        opacity: 1;
        transform: translateY(0%);
        transform-origin: top;
        transition: 500ms ease;
    }

    #checkbox:checked~.navbar-items>a {
        transition-delay: 400ms;
    }

    .separator {
        display: none;
    }

    .navbar-items a:is(:hover, :focus-within)::before {
        width: 0%;
    }

    .hero-wrapper {
        padding-inline-start: 1em;
    }

    .active::after {
        background-color: transparent;
    }
}

/* About */
#About {
    min-height: 100vh;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#About>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, minmax(700px, 100%));
    width: 100%;
    max-width: 1000px;
    margin: 1rem auto;
}

.about-img-wrapper {
    position: relative;
    height: auto;
}

.spinner-pos {
    position: absolute;
    transform: translate(-50%, -50%);
}

.spinner-pos:nth-child(1) {
    top: 25%;
    left: 30%;
}

.spinner-pos:nth-child(2) {
    top: 50%;
    left: 60%;
    transition-delay: 200ms;
}

.spinner-pos:nth-child(3) {
    top: 75%;
    left: 45%;
    transition-delay: 400ms;
}

.spinner-pos:hover {
    z-index: 100;
}

.spinner-pos:hover img {
    width: 105%;
    height: 105%;
    filter: grayscale(50%);
}

.spinner-pos:hover::after {
    position: absolute;
    content: '';
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: hsl(var(--text));
    text-shadow: 2px 2px 0 black;
    border-radius: 0%;
    font-size: calc(var(--font) + 0.25rem);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.img-spinner {
    position: relative;

    width: 310px;
    height: 310px;
    border-radius: 50%;
}

.spinner {
    position: absolute;

    width: 310px;
    height: 310px;

    border-radius: 50%;
    background-image: conic-gradient(#3dffc9, #f7c723, #eb0ea5, #3dffc9);

    animation:
        spin 1.5s linear infinite;
}

.img-spinner img {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 300px;

    border-radius: 50%;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spinner-pos:nth-child(1):hover::after {
    content: 'De los ingredientes';
}

.spinner-pos:nth-child(2):hover::after {
    content: 'A la creación';
}

.spinner-pos:nth-child(3):hover::after {
    content: 'Hasta la perfección';
}

/* About information */
.about-information {
    display: flex;
    flex-direction: column;
    gap: 1em;

    padding: calc(var(--padding) + 1em);
    overflow: hidden;
}

.about-information>div:nth-child(2) {
    padding: var(--padding);
    border-left: 5px solid hsl(var(--important));
    border-top: 1px solid hsl(var(--border-clr), 20%);
    border-radius: var(--radius-accent);
    line-height: 2em;
}

.about-information>div p:last-child {
    margin: 0;
}

.img-quote-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.img-spinner span {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    padding: calc(var(--padding) - 0.5em);

    color: hsl(var(--text), 80%);
    background-color: hsl(var(--main-dark), 60%);
    z-index: 10;
}

.about-information .splitter p:nth-child(1):first-letter {
    font-size: calc((var(--font) + 2rem));
    line-height: 0;
}

@media only screen and (max-width: 760px) {
    #About>div {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.5fr 1fr;
        place-items: center;
    }

    .about-img-wrapper {
        width: 100%;
    }

    .spinner-pos:nth-child(1) {
        top: 40%;
        left: 30%;
    }

    .spinner-pos:nth-child(2) {
        top: 40%;
        left: 50%;
    }

    .spinner-pos:nth-child(3) {
        top: 40%;
        left: 70%;
    }

    .img-spinner {
        width: clamp(200px, 33vw, 300px);
        height: clamp(200px, 33vw, 300px);
    }

    .img-spinner img {
        width: clamp(200px, 33vw, 300px);
        height: clamp(200px, 33vw, 300px);
    }

    .spinner {
        display: none;
    }

    .img-spinner span {
        bottom: 0px;
        width: 200%;
    }
}

/* Products */
#Products {
    display: flex;
    align-items: center;
    min-height: 100vh;
    height: 100%;

    padding: var(--padding);

    position: relative;
    background-color: white;
}

/* SVG */
.custom-shape-divider-top-1667840141 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1667840141 svg {
    position: relative;
    display: block;
    width: calc(190% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1667840141 .shape-fill {
    fill: hsl(var(--main-dark));
}

.products-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.33fr));
    gap: .5em;
    place-content: center;
    place-items: center;

    width: 100%;
    max-width: 1000px;
    height: 100%;

    margin: 0 auto;
    padding: calc(var(--padding) + 1em);

    border-top: 1px solid hsl(var(--main-dark));
    border-bottom: 1px solid hsl(var(--main-dark));

    border-radius: var(--radius-accent);
    position: relative;
}

.products-wrapper .span-top {
    position: absolute;
    top: -1em;
    left: 2.5em;
    padding: calc(var(--padding) - .75em);
    color: hsl(var(--text-contrast));
    background-color: white;
    border-left: 4px solid hsl(var(--important));
    border-top: 1px solid hsl(var(--main-dark));
    border-right: 1px solid hsl(var(--main-dark));
    border-radius: var(--radius);
    font-weight: 700;
}

.products-holder {
    display: flex;
    position: relative;
    width: fit-content;

    border-radius: var(--radius-accent);
    overflow: hidden;
}

.products-holder:nth-child(3) {
    transition-delay: 300ms;
}

.products-holder:nth-child(4) {
    transition-delay: 600ms;
}

.products-holder:is(:hover, :focus) .item-name {
    transform: translateY(0%);
    transition: all 200ms linear;
}

.products-holder:is(:focus-within) .item-name {
    transform: translateY(0%);
}

.products-holder:is(:hover, :focus-within, :focus) .item-name::before {
    content: '';
}

.products-holder:is(:hover, :focus-within) img {
    filter: sepia(100%);
}

.products-holder img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.products-holder .item-name {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--padding);
    padding-top: 0;
    color: hsl(var(--text));
    background-color: hsl(var(--main-dark), 70%);

    transform: translateY(85%);
}

.products-holder .item-name::before {
    content: '\f077';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    text-align: center;
    margin-top: .5em;  
}

.products-holder .item-name p:nth-child(1) {
    margin-bottom: 0;
}

.products-holder .item-name p:nth-child(2) {
    margin-top: .25em;
    color: grey;
}

.products-holder .item-name a {
    padding: var(--padding);
    color: hsl(var(--nav-link));
    background-color: hsl(var(--important));
    border-radius: var(--radius);
    text-align: center;
    text-decoration: none;
}

.products-holder .item-name a:is(:hover, :focus-within) {
    color: hsl(var(--important));
    background-color: hsl(var(--nav-link));
}

.products-holder .item-name a:active {
    scale: .97;
}

.clip-path-ani {
    position: absolute;
    bottom: -1em;
    right: 2.5em;
    background-color: hsl(var(--important));
    outline: 1px solid hsl(var(--important));
    outline-offset: -1px;
    border-radius: var(--radius);
    
    z-index: 1;
    overflow: hidden;
}

.clip-path-ani::after {
    position: absolute;
    content: '';
    inset: 0;
    background-color: hsl(var(--text));

    z-index: -1;
    overflow: hidden;

    clip-path: circle(0% at 0% 50%);
    transition: clip-path 500ms linear;
}

.clip-path-ani .call-to-action {
    display: block;
    padding: .5em 3em;
    color: hsl(var(--text));
    background-color: transparent;

    text-decoration: none;
    z-index: 2;

}

.clip-path-ani:is(:hover, :focus-within)::after {
    clip-path: circle(150% at 0% 50%);
}

.clip-path-ani:is(:hover, :focus-within) .call-to-action {
    color: hsl(var(--important));
}

/* SVG */
.custom-shape-divider-bottom-1667882176 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1667882176 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 148px;
}

.custom-shape-divider-bottom-1667882176 .shape-fill {
    fill: hsl(var(--main-dark));
}

/* Contact */
#Contact {
    min-height: 120vh;
    z-index: 10;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}